h1 {
    text-align: center;
}
h2,h3{
    font-weight: bolder;
    color: black;
    text-align: center;
    text-decoration: underline;
}

body {
    background:url('./images/mealhelp.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p, ul, ol {
    color: rgb(15, 15, 15);
    font-weight: bolder;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#home p {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);    
    color: black;
    font-size: xx-large;
}
.card-link{
    color: rgb(236, 99, 8);
}
.form-row {
    align-content: center;
}
@media (max-width: 850px) {
    #home p{
        font-size: small;
        text-align: left;
        top:75%;
        
    }
}
