  
{% extends 'base.html' %}
{% block title%}
<h1>Meal Results</h1>
{% endblock %}

{% block content %}
<div>
    <div id={{dish.id}}>
        <br>
    
        <h1 class="text-center">{{dish.title}}</h1>
            <br>
        <a href="/dish/{{dish.id}}"><img class="img-rounded text-center"  alt={{dish.title}} src="{{dish.image}}"></a>
    
        <br>
        {% if g.user %}
        <div class="favorite">
            {% if favorited_recipes and dish.id in favorited_recipes %}
            <button data-id="{{dish.id}}" class="btn m-2 favorite-btn"><i class="fas fa-star"></i> Remove from Favorites</button>
            </div>
            {% else %}
            <button data-id="{{dish.id}}" class="btn m-2 non-favorite-btn"><i class="fas fa-star"></i> Add to Favorites</button>
            {% endif %}
            </div>
        {% endif %}
    <p>Servings: {{dish.servings}}</p>
    <p>Ready in {{dish.readyInMinutes}} minutes</p>
    <p>{{dish.summary|striptags}}</p>
    <h3>Ingredients:</h3>
    <div id="search-results">
    <div id="noresults">
        <p>{{no_results}}</p>
    </div>
    <br>
    <ul>
   
        {% for ingredient in dish.extendedIngredients %}
        <li>{{ingredient.originalString}}</li>
        {% endfor %}
       
    </ul>
    <h3>Instructions:</h3>
    <ol>
        {% for step in steps %}
        <li>{{step}}</li>
        {% endfor %}
    
    </div>
    
    <br>
    {% if not g.user %}
    <p><a class="btn btn-info" href="/login"> Sign in if you want to save your favorite dishes!</a></p>
    <a href="/register" class="btn btn-dark">Create Account</a>
    {% endif %}
</div>














{% endblock %}