{% extends 'base.html' %}
{% block content%}

<h1> Search by Ingredients or Dietary Restrictions </h1>


<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingredients and/or Dietary Restrictions" aria-label="Ingredients and/or Dietary Restrictions" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>  
</div>
<label>Please separate multiple Ingredients or Restrictions with a comma.</label>



{% endblock %}