{% extends 'base.html' %}
{% block content%}

<h1> Search by Ingredients or Dietary Restrictions </h1>

<form method="POST">
<div class="input-group mb-3">
    <input type="text" class="form-control" name="Ingredients" id="meal" placeholder="Ingredients and/or Dietary Restrictions" aria-label="Ingredients and/or Dietary Restrictions" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>  
  <div class="input-group col-md-3">
    <span id="inputgroup-sizing-default" class="h4 input-group">Dietary Restrictions</span>
      <select id="diet" class="input-group-append">
      <option selected value="None">None</option>
      <option value="Gluten Free">Gluten Free</option>
      <option value="Ketogenic">Ketogenic</option>
      <option value="Vegetarian">Vegetarian</option>
      <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
      <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
      <option value="Vegan">Vegan</option>
      <option value="Pescetarian">Pescetarian</option>
      <option value="Paleo">Paleo</option>
      <option value="Primal">Primal</option>
      <option value="Whole30">Whole30</option>
    </select>
    </div>
  </div>
  <label>Please Separate multiple Ingredients with a comma.</label>
</div>
</form>

{% if not g.user %}
    <p><a class="badge badge-info" href="/login"> Sign in if you want to save your favorite dishes!</a></p>
    <a href="/register" class="btn btns signup-btn">Create Account</a>
{% endif %}

{% endblock %}