{% extends 'base.html' %}
{% block title%}
{{g.user.username}}'s Profile 
{% endblock %}

{% block content %}

<h1>Welcome {{g.user.username}}</h1>

<h2> Favorites</h2>

{% if g.user.recipes %}
<div class="favorites">
    <ul>
        {% for favorite in g.user.favorites %}
        <li>
           <strong>{{recipe.title}}</strong>
           <br>
           <small>{{recipe.details}}</small>
           <small>{{recipe.total_time}}</small>
        </li>       
        {% endfor %}
    </ul>
{% else %}
<h3> No Favorites Added Yet!</h3>
{% endif %}
        <form>
            <button class="btn btn-danger" formmethod="POST" formaction="/user/delete">
            Delete User
            </button>
        </form>
    </div>

{% endblock %}